server:
  port: 8084

spring:
  application:
    name: service4
  zipkin:
    base-url: http://127.0.0.1:9411/
  sleuth:
    sampler:
      percentage: 1.0

logging.level.org.springframework.cloud.sleuth: DEBUG