server:
  port: 8082

spring:
  application:
    name: s1
  sleuth:
    sampler.percentage: 1.0
    enabled: true
  zipkin:
    baseUrl: http://localhost:9411
    sender:
      type: web

  jms:
    listener:
      concurrency: 1
      max-concurrency: 5
      acknowledge-mode: auto

  activemq:
    broker-url: ${ACTIVEMQ_BROKER_URL:tcp://127.0.0.1:61616}
    user: admin
    password: admin

  kafka:
    bootstrap-servers: localhost:9092

logging.level.org.springframework.cloud.sleuth: DEBUG

